In [1]:
import pandas as pd

In [4]:
data = {
    "Architecture": ["RATS", "Monolithic"],
    "Average_Latency_ms": [20257.756324, 4924.160218],  # ms 
    "Max_Latency_ms": [24277.076960, 9975.248575],      # ms 
    "Throughput_req_per_sec": [29, 32.86]      # req/sec 
}

In [ ]:
architecture   avg_latency   min_latency   max_latency  throughput  \
0         RATS  20257.756324  15917.489052  24277.076960          29   
1   Monolithic   4924.160218    401.525259   9975.248575          30

In [5]:
df_results = pd.DataFrame(data)
df_results.head(2)

  Architecture  Average_Latency_ms  Max_Latency_ms  Throughput_req_per_sec
0         RATS             6656.77         8034.94                    1.53
1   Monolithic              304.52          312.39                   32.86

In [6]:
df_results.to_csv("performance_results.csv", index=False)

In [7]:
print("Results is saved in performance_results.csv")
df_results

Results is saved in performance_results.csv

  Architecture  Average_Latency_ms  Max_Latency_ms  Throughput_req_per_sec
0         RATS             6656.77         8034.94                    1.53
1   Monolithic              304.52          312.39                   32.86